@charset "UTF-8";
$border-normal: 1px solid #dfdfdf;
$border-active: 1px solid #9299a1;
$down-icon-color: #3b86e0;
$active-background: #edf2f8;

// 颜色
$color-gray: #69738a;
$color-blue: #3b86e0;

// 字体
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

// 边框
$border-normal: 1px solid #dfdfdf;
$border-active: 1px solid #9299a1;

// 行高
$line-height-lg: 50px;

// 搜索框
$search-width-md: 300px;

