.sg-header{
  .header{
     height: 80px;
     line-height: 80px;
     .searchgroup {
       margin-top: 30px;
       width: 35%;
       height: 40px;
     }
   }
  .nav{
    background-color: darkred;
    ul{
      li{
        float: left;
        width: 100px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        a{
          font-size: 16px;
          color: #dddddd;
        }
      }
    }
  }
}
.card{
  padding: 20px 0;
  width: 100%;
  background-color: #fff;
  .c-head{
    font-size: 14px;
  }
  .c-con{
    ul{
      li{
        float: left;
        width: 33%;
        text-align: center;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}