.sg-header{
  z-index: 1;
  background: url('../../assets/image/logobg.png') no-repeat left bottom,
  url('../../assets/image/headerBg.png') repeat-x;
  padding: 0 18px;
  height: 50px;
}
.logo{
  h1{
    display: inline-block;
  }
}
.head{
  ul {
    border-bottom: 1px solid #000;
    height: 45px;
    line-height: 45px;
    li{
      float: left;
      list-style: none;
      margin-right: 10px;
      i{
        font-size: 14px!important;
      }
    }
  }
}
.clearfix:after{
  content: '';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}