// 布局底部，通常放按钮
$foot-sm: 40px;

// 外边距
$margin-sm: 10px;
$margin-md: 20px;

// 内边距
$padding-sm: 10px;
$padding-md: 20px;

// flex布局
@mixin flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@mixin flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@mixin flex-row-center {
  @include flex-row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
@mixin flex-col-center {
  @include flex-col;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
